@import "./components/common/variables";
body {
  background-color: $base-color;
  font-family: "Proxima Nova",-apple-system,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif,sans-serif;
}

.breadcrumb-container {
  padding-top: 16px;
  padding-bottom: 16px;
  color: $gray-dark
}